@using FlutterIntegration.Models.Domain
@{
    ViewData["Title"] = "All Payments";
    var transactions = ViewData["transactions"] as List<Transaction>;
}
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Amount</th>
            </tr>
        </thead>
         <tbody>
             @foreach (var item in transactions)
            {
                <tr>
                    <th>@item.Customer.Name</th>
                    <th>@item.Customer.Email</th>
                    <th>@item.Customer.PhoneNumber</th>
                    <th>@item.Amount</th>
                </tr> 
            }
        </tbody>
    </table>
</div>
