@{
    ViewData["Title"] = "FlutterWave Payment";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="btn-group" style="width: 24rem;">
        <a class="btn btn-warning" asp-controller="Payment" asp-action="Index">Make Payment</a>
        <a class="btn btn-success" asp-controller="Payment" asp-action="GetPayment">View your Payments</a>
    </div>
</div>